.card {
  border: 0.2em solid rgba(255, 255, 255, 0.513);
  border-radius: 0.5em;
  aspect-ratio: 1/1;

  display: grid;
  place-content: center;

  user-select: none;
  background-color: white;
}

.card img {
  width: 100%;
  height: 100%;
}

.card:hover {
  border-color: white;
  outline: 0.2em solid white;
  outline-offset: -0.1em;
}
